body{
    margin: 20px;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

input{
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #5f9341;
}

button{
    background-color: #5f9341;
    padding: 10px 24px;
    cursor: pointer;
    color: white;
    border: none;
    margin-top: 8px;
    font-weight: 500;
    font-size: medium;
}